.home {
  padding-bottom: 50px;
}
.home .products {
  padding-top: 80px;
  padding-bottom: 20px;
}
.bar-social {
  position: fixed;
  top: 50%;
  transform: translateX(-50%);
  right: 0;
  width: 88px;
  height: 256px;
  text-align: center;
}
.bar-social span {
  margin-bottom: 30px;
}
@media screen and (max-width:1200px){
  .bar-social{
    display: none;
  }
}
.filters-product {
  margin-top: 80px;
  display: flex;
  flex-direction: row-reverse;
  background: #e5e5e5;
  box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.filters-product .right___{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.filters-product .right___ h5 {
  color: #313039;
  font-size: 18px;
  line-height: 37px;
  font-weight: 700;
  margin-left: 20px;
}
.filters-product .left__{
  min-width: 230px;
}
.selectbox-product{
  min-width: 230px;
}
@media screen and (max-width:768px){
  .filters-product {
    padding: 20px;
  }
  .filters-product .right___{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
  .filters-product .left__{
    flex: 0 0 100%;
    max-width: 100%;
  }
}