.banner-wrapper{
    position: relative;
    display: flex;
    justify-content: flex-end;
    background: url(../../assets/image/banner.svg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    min-height: 555px;
}
.banner-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.banner-content h2 {
    line-height: 49px;
}
.banner-content-right{
    flex: 0 0 45%;
    padding-right: 90px;
}
@media screen and (max-width:920px){
    .banner-wrapper{
        background-size: cover;
    }
    .banner-content h2{
        font-size: 18px;
    }
    .banner-content-right{
        padding-right: 20px;
    }
}